@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.Nome{
    color: #16c1c8;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    padding: 10px;
}

body{
    background-color: #e1ecd6;
}

.centro{
    text-align: center;
}
.linha1{
    color: #1f192f;
    margin: 10px;
    border-top: 2px solid #1f192f;
}

.minhaFoto{
    max-width: 25%;
    height: auto;
    border-radius: 50%;
    border: 6px solid #49cccc;

}
.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.nome2{
    color: #16c1c8;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding: 10px;
    font-size: 3vw;
}
.sobre{
    color: #49cccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.textos{
    flex-direction: column;
    display: flex;

}

.parte2{
    padding-top: 0px;
    color: #1f192f ;
    font-size: 2vw;

}
.instagram{
    width: 40px;
    filter: saturate(0);
}
.github{
    width: 40px;
    filter: saturate(0);
}
.tiktok{
    width: 40px;
    filter: saturate(0);
}

.instagram:hover{
    filter: saturate(1);
    cursor: pointer;
    transform: scale(2);
}

.tiktok:hover{
    filter: saturate(1);
    cursor: pointer;
    transform: scale(2);
}
.github:hover{
    filter: saturate(2);
    transform: scale(2);
    cursor: pointer;
}
.itens{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
